/* Navbar styles */
.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #333;
  padding: 15px 20px;
  color: white;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  background-color: #0972d3;
  margin-top: 13px;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  min-width: 150px;
  right: 0;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  border-radius: 12px;
  margin: 0;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #444;
}

/* Button styles */
.btn {
  background-color: #555;
  border: none;
  color: white;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Improved hover effect for buttons */
.btn:hover {
  background-color: #333;
}

/* Improved focus effect for buttons */
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #555;
}
