body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  /* Border color */
  padding: 15px 20px;
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white; /* Initial background color */
  margin-top: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Card-like shadow */
  z-index: 1;
  min-width: 160px;
  border-radius: 12px;
}
.dropdown:hover .dropdown-content,
.dropdown.active .dropdown-content {
  /* Green background on click */
  display: block;
  /* background-color: #539fe5; */
  background-color: #0972d3;
}
.dropdown-content a {
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  display: flex;
  border-radius: 20px;
}
.dropdown-content a:hover {
  background-color: #444;
  width: 100%;
}
.navbar button {
  background-color: #555;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
